.form-div{
  width: 50%;
  height: 80%;
  align-items: center;
  justify-content: center;
  margin-left: 25em;
  border: 2px solid lightgrey;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}
.showcategory{
  width: 60%;
  height: 80%;
  align-items: center;
  justify-content: center;
  margin-left: 20em;
  margin-top: 20px;
  padding: 20px;
}
.frm-lable{
  display: flex;
  align-items: start;
  font-weight: bold;
}
#btn{
  width: 10em;
}
.smallicon{
  width: 16px;
  height: 16px;
}
#wel{
  text-align: center;
}